.table {
  
  border: 2px black solid;
  height: 500px;
  width: 500px;
  border-collapse: collapse;
  

}

.flex {
  border: solid 2px black;
  width: 60px;
  height: 60px;


}

.flex:nth-child(odd) .flex:nth-child(even), .flex:nth-child(even) .flex:nth-child(odd) {
  background: black;
}
.red {
  color: red;
  margin: 17px;
   
}
.blue {
  color: blue;
  margin: 17px;
}
